{% extends "base.html" %}

{% block content %}
    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}
    <form id="login" method="post" action="{% url 'django.contrib.auth.views.login' %}">
        {% csrf_token %}

    {{ form.as_p }}

        <input id="okButton" type="submit" value="login" />
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
    <!-- You can use
    form.email <- THIS IS FIELD
    form.email.label_tag <- THIS IS LABEL FOR EMAIL
	
    | form.password -->

{% endblock %}