{% extends "base.html" %}

{% block content %}

    {% if form.errors %}
        <p>Some error.</p>
    {% endif %}

    <form id="register" method="post" >
        {% csrf_token %}
        {{ form.as_p }}
        <input id="okButton" type="submit" value="Registration" />
    </form>

{% endblock %}



