{% extends "base.html" %}

{% block menu %}
					<li><a href="{% url "materials" %}">Materials</a></li>
					<li><a href="{% url "upload_material" %}">Upload</a></li>
{% endblock %}

{% block content %}
<div id="MATERIALS">

    {% for material in materials %}
        <div class="material">
            <a href="{{ material.get_file_url }}"><p>{{ material.name }}</p></a>
        </div>
    {% endfor %}



</div>

{% endblock %}