{% extends "base.html" %}

{% block menu %}
					<li><a href="{% url "materials" %}">Materials</a></li>
					<li><a href="{% url "upload_material" %}">Upload</a></li>
{% endblock %}

{% block content %}
<div id="MATERIALS">

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    {{ form.as_p }}

    <input type="submit" value="upload">
</form>



</div>

{% endblock %}