body{
overflow-y: scroll;
}
* {
margin: 0;
padding: 0;
}
div#header{
background-image: linear-gradient(#ade8cf, #c1eccd);
background-repeat:no-repeat;
}
div#body
{
padding-top:20px;
background-image: linear-gradient(#c1eccd, #fff7c7);
background-repeat:no-repeat;
padding-bottom:50px;
}
div#content{
width:900px;
margin:auto;
min-height:200px;
height:auto;
color: #4f4e4a;
}
div#header img{
display : block;
margin: auto;
}
div#loginHeader
{
/*padding-top:0px;*/
margin:auto;
text-align:center;
padding-left:848px;
list-style-type: none;
background-image: url(images/header_bg.png);
height:28px;
}
div#loginHeader a{
text-decoration:none;
padding-left:35px;
padding-right:35px;
font-family: "Aparajita", Times, serif;
font-style : italic;
text-shadow : 1px 1px 0.8px #333;
color: #fff;
font-size: 15px;
background: #1176ff;
border:1px solid #0e61d3;
border-radius:7px;
box-shadow:1px 1px 4px #63a5ff inset;
}

#button a{
text-decoration:none;
padding-left:35px;
padding-right:35px;
font-family: "Aparajita", Times, serif;
font-style : italic;
text-shadow : 1px 1px 0.8px #333;
color: #fff;
font-size: 15px;
background: #1176ff;
border:1px solid #0e61d3;
border-radius:7px;
box-shadow:1px 1px 4px #63a5ff inset;	
}

/**Menu part: **/
table,th, td
{
border-collapse:collapse;
}
td#topLeft
{
background-image: url(images/navi-topLeft.png);
height: 18px;
width:39px;
}
td#topCenter
{
background-image: url(images/navi-top.png);
height: 18px;
}
td#topRight
{
background-image: url(images/navi-topRight.png);
height: 18px;
width:39px;
}
td#bottomLeft
{
background-image: url(images/navi-bottomLeft.png);
height: 19px;
width:39px;
}
td#bottomCenter
{
background-image: url(images/navi-bottom.png);
height: 19px;
}
td#bottomRight
{
background-image: url(images/navi-bottomRight.png);
height: 19px;
width:39px;
}
td#centerLeft
{
background-image: url(images/navi-centerLeft.png);
height: 46px;
width:39px;
}
td#centerRight
{
background-image: url(images/navi-centerRight.png);
height: 46px;
width:39px;
}
ul#menu{
list-style-type: none;
background-image: url(images/navi_bg.jpg);
height: 46px;
width: 908px;
margin: auto;
}

/** forms desing**/
form#search{
line-height: 40px;
float:right;
}
form#login
{
float:left;
padding-left:30px;
}
form#register
{
float:left;
padding-left:30px;
}
form p
{
margin:5px;
}
form p select
{

}
form p label[for=id_children]
{
float:left;
}
ul#menu li {
float: left;
}
ul#menu a {
background-position: right;
padding-right: 32px;
padding-left: 32px;
display: block;
line-height: 45px;
text-decoration:none;
text-shadow : 1.5px 1.5px 0.4px #333;
color: #fff;
font-family: "Aparajita", Times, serif;
font-style : italic;
font-size: 21px;
}
ul#menu a:hover {
color: #111;
}
/**Search engine design**/
input#query{
width:160px;
height:30px;
font-family: "Aparajita", Times, serif;
font-style : italic;
text-shadow : 1px 1px 0.8px #333;
color: #fff;
font-size: 21px;
background: #7fbd00;
border:1px solid #619000;
border-radius:10px;
box-shadow:1px 1px 2px #9adb54 inset;
}
input#okButton{
margin-top:10px;
width:160px;
height:25px;
font-family: "Aparajita", Times, serif;
font-style : italic;
text-shadow : 1px 1px 0.8px #333;
color: #fff;
font-size: 21px;
background: #7fbd00;
border:1px solid #619000;
border-radius:8px;
box-shadow:1px 1px 2px #9adb54 inset;
}
input#submit{
background: url(images/searchButton.png) no-repeat center center;
width : 30px;
height :30px;
border : none;
color : transparent;
}
input#submit:hover{
background: url(images/searchButtonHover.png) no-repeat center center;
width : 30px;
height :30px;
border : none;
color : transparent;
}
/** Horizontal separator **/
p#separator
{
list-style-type: none;
background-image: url(images/Hseparator.png);
margin:20px;
height: 4px;
}
/**Displaying all massages part: **/
div#MESSAGES
{
margin:auto;
padding-left:30px;
}
table#messageTab{
border-spacing: 0px; 
}
/**First Row**/
tr#topMessage
{
font-family: "Aparajita", Times, serif;
font-style : italic;
font-size:20px;
color: #fff;
text-shadow : 1px 1px 0.8px #333;
}
td#topSubject{
border-top-left-radius: 5px;
text-align:center;
background-image: linear-gradient(#a6d600, #408700);
padding:8px;
width:160px;
}
td#topContent{
text-align:center;
background-image: linear-gradient(#a6d600, #408700);
}
td#topAuthor{
text-align:center;
background-image: linear-gradient(#a6d600, #408700);
}
td#topDate{
text-align:center;
border-top-right-radius: 5px;
background-image: linear-gradient(#a6d600, #408700);
}
/**Message content -> other rows **/
tr#tabContent
{
background-image: linear-gradient(#daecdf,#eeeeee);
height:35px;
border: 1px solid #6ba401;
}
td#TabSubject{
padding-left:10px;
}
td#TabContent{
padding-left:10px;
}
td#TabFrom{
padding-left:10px;
}
td#TabDate{
padding-left:10px;
}
/**Message Details (show-message.html)**/
div#MESSAGE
{
width:850px;
}
div#MESSAGE div#subject
{
margin:auto;
padding:15px;
font-size: 20px;
font-style : italic;
}
div#MESSAGE div#date
{
margin:auto;
float:right;
padding-bottom:10px;
padding-left:20px;
}
div#MESSAGE div#content
{
text-align:justify;
padding-bottom:10px;
padding-top:35px;
}
div#MESSAGE div#from
{

}

/**Footer design**/
div#footer{
list-style-type: none;
background-image: url(images/footer_bg2.png);
height: 79px;
padding-left:100px;
line-height: 79px;
font-family: "Aparajita", Times, serif;
font-style : italic;
color: #688e86;
font-size: 15px;
margin: auto;
}

table#gamesTable{
	border: 2px outset; 
	width: 100%;	
}

th#gamesTh{
	padding: 10px;
}

td#gamesTd{
	padding: 15px; 
	text-align: center;
}
