{% extends "base.html" %}

{# if you want url of this template then use {% url show_messages %}  #}

{% block menu %}
    {% include "games/games_menu.html" %}
    {#  we include message menu to keep statment of DRY (Dont repat yourself)  #}
{% endblock %}

{% block content %}

    {# We check if any messages exists #}


    <div id="GAME">
        <h1>{{ formula }}</h1>
        {% if game.id and player_game.id and game_round %}
            <form method="post" action="{% url "show_counting_game" game.id player_game.id game_round %}">
        {% else %}
            <form method="post">
        {% endif %}
        {% csrf_token %}
        <input type="hidden" name="answer" id="answer" value="{{ answer }}" />
        <input type="text" name="text_answer" id="text_answer" />
        <input type="submit" value="Submit">
        </form>

    </div>

{% endblock %}	
	