{% extends "base.html" %}

{# if you want url of this template then use {% url show_messages %}  #}

{% block menu %}
    {% include "games/games_menu.html" %}
    {#  we include message menu to keep statment of DRY (Dont repat yourself)  #}
{% endblock %}

{% block content %}

    {# We check if any messages exists #}


    <div id="GAME">

        <img src="{{ image.image.url }}">
        {% if game.id and player_game.id and image.id and game_round %}
            <form method="post" action="{% url "choose_game" game.id player_game.id image.id game_round %}">
        {% else %}
            <form method="post">
        {% endif %}
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit">
        </form>

    </div>

{% endblock %}	
	