{% extends "base.html" %}

{# if you want url of this template then use {% url show_messages %}  #}

{% block menu %}
    {% include "games/games_menu.html" %}
    {#  we include message menu to keep statment of DRY (Dont repat yourself)  #}
{% endblock %}

{% block content %}
    <div id="GAMES">

	<p>Available games:</p>

	<P style="margin-top: 20px">
		<table id="gamesTable">
			<thead style="border-bottom-style: outset">
				<th id="gamesTh"> Game: </th>
				<th id="gamesTh"> Level </th>
				<th id="gamesTh"> Rounds </th>
				<th id="gamesTh"> Description </th>
			</thead>
			
			{# We check if any messages exists #}
    		{% if games %}

        	{% for game in games %}
	
			<tr class="game">
				<td id="gamesTd" class="name">
					{% if game.is_counting_game %}
	                	<a href="{% url "show_counting_game" game.id %}"> {{ game.name }}</a>
		            {% else %}
		                <a href="{% url "choose_game" game.id %}"> {{ game.name }}</a>
		            {% endif %}
				</td>
				<td id="gamesTd" class="level">
					{{ game.get_level_display }}
				</td>
				<td id="gamesTd" class="rounds">
					{{ game.rounds }} 
				</td>
				<td id="gamesTd" class="description">
					{{ game.description }}
				</td>
			</tr>
			{% endfor %}
		    {% else %}
		        Go play outside
		    {% endif %}
		</table>
	</P>
	</div>

{% endblock %}	
	