<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="{{ MEDIA_URL }}css.css" type="text/css" />
	<meta http-equiv="content-type" content="application/xhtml+xml; charset=utf-8" />
    <title>
		{% block title %}Sunshine Platform{% endblock %}
       
    </title>
    {% block extrahead %}
    {% endblock %}
</head>
<body>
<div id="header" >
<div id= "loginHeader">
    {% block login %}
        {% if user.is_authenticated %}
        <a href="{% url "auth_logout" %}">logout</a>

        {% else %}
        <a href="{% url "auth_login" %}">login</a>
        {% endif %}
        <{% endblock %}/div>
	<div class="top">
		<a href="http://localhost:8000/">
			<img src="{{ MEDIA_URL }}images/banner.jpg" alt="Sunshine Plateform Website"/>
		</a>
	</div>
	<div align="center" id="menu">
		<table id="menuTab">
		<tr><td id="topLeft"></td>
			<td id="topCenter"></td>
			<td id="topRight"></td>
		</tr>
		<tr><td id="centerLeft"></td>
			<td id="nav">
				<ul id="menu">
					<!--menu have to fit with each type of user, define a template/variable, for loop ?-->					
					<li><a href="http://localhost:8000/">Home</a></li>
					{% block menu %}
					<li><a href="{% url "show_profile" %}">My account</a></li>
					<li><a href="{% url "show_games" %}">Games</a></li>
					<li><a href="{% url "materials" %}">Materials</a></li>
					<li><a href="{% url "show_messages" %}">Messages</a></li>
					{% endblock %}
					<form id="search" action="{% url "search_games" %}" method="post">
                        {% csrf_token %}
						<input id="query" type="text" name="search" value=" Search" onFocus="this.value=''">
						<input id="submit" type="submit" alt=Search name="submit" >
					</form>
				</ul>				
			</td>
			<td id="centerRight"></td>
		</tr>
		<tr><td id="bottomLeft"></td>
			<td id="bottomCenter"></td>
			<td id="bottomRight"></td>
		</tr>		
		</table>
	</div>
</div>

<div id= "body">
	<div id= "content">
	{% block content %}
	{% endblock %}
	</div>		
</div>

<b>
{% block footer %}<div id="footer">&#169 2013 MAIS Sunshine Platform. All Rights Reserved</div>{% endblock %}
</b>
</body>
</html>