{% extends "base.html" %}

{% block content %}
		
		<p id="button" style="margin:10px; text-align: center;">	
			<a href="{% url "registration" %}">Registration</a>
		</p>
		<p id="button" style="margin:10px; text-align: center;">
			<a href="{% url "registration_parent" %}">Registration (parent)</a>
		</p>
		
		<p id = "separator"></p>
		<p style="text-align: center; font-size: 30px"> Welcome on the Sunshine Education Page</p>
		<p id = "separator"></p>
		<p style="text-align:center; margin-top: 20px">By this page you can have access to your e-playground. You can choose from the 3 types of users:</p>
		<p style="text-align:center; ">
			
			<ul style="margin-left:140px; margin-top: 20px">
				<li>Child</li>
				<li>Parent</li>
				<li>Teacher</li>
			</ul>
			
		</p>
		<p style="text-align:center; margin-top: 20px">We hope that you will enjoy your time using this page.</p>
		<p style="text-align:center; margin-top: 20px">In case of any problems please contact us - we will do our best to help you.</p>
		
			<p style="text-align:right; margin-top: 20px; font-style:italic">Sunshine education project team.</p>
		<p id = "separator"></p>
		
{% endblock %}
