{% extends "base.html" %}

{% block content %}
    <div id="PROFILE">
        <div id="NAME">{{ child.get_full_name }}
        </div>

        <div id="PRESENCE">
             <h1>Presence</h1>
                {% for present in child.get_all_presence %}
                    <p>Present - {{ present.date }}</p>
                {% endfor %}
        </div>

        <div id="GAME_SCORES">
            <h1>Game scores</h1>
                {% for game in child.get_all_games %}
                    <p><a href="{% url "choose_game" game.game.id %}">{{ game }}</a> - {{ game.score }}</p>
                {% endfor %}
        </div>
        <div id="GRADES">
            <h1>Grades</h1>
                {% for grade in child.get_all_grades %}
                    <p>{{ grade }} - {{ grade.date }}</p>
                {% endfor %}
        </div>

    </div>
{% endblock %}