{% extends "base.html" %}

{% block content %}
    <div id="PROFILE" style="text-align: center; margin-bottom: 3px">
        <div id="NAME" style=" font-size: 30px;">{{ user.get_full_name }}
            {% if user.is_teacher %}
                <p><i>Teacher</i></p>
            {% endif %}

            {% if user.is_parent %}
                <p><i>Parent</i></p>
            {% endif %}

            {% if user.is_child %}
                <p><i>Student</i></p>
            {% endif %}

        </div>

        {% if user.is_teacher %}
            <div id="TEACHER_PANEL">
                You are teacher of
                {% with user.get_teacher_instance as teacher %} <!-- Assign teacher instance to var teacher -->
                    {% for group in teacher.get_groups %}
                        {{ group }} ( {{ group.children_number }} ) <!-- Display name of group and number of children -->
                           <p>
                           	<br>
                           	<h2>Check presence</h2>
                           	<br>
                            <p>
                            <table id="gamesTable">
                            	<thead style="border-bottom-style: outset">
                            		<th id="gamesTh">Child</th>
                            		<th id="gamesTh">Presence</th>
                            		<th id="gamesTh">Grade</th>
                            	</thead>
                            {% for child in group.get_children %}
                            <tr>
                            	<td id="gamesTd">
                                	<a href="{% url "show_child_profile" child.id %}">{{ child.get_full_name }}</a>
                                </td>
                                <td id="gamesTd">
                                {% if child.is_present_today %}
                                    (Present)
                                {% else %}
                                    (Absent) <a href="{% url "set_presence" child.id %}">Set present</a>
                                {% endif %}
                                </td>
                                <!-- ADD GRADES -->
                                <td id="gamesTd">
	                                <a href="{% url "add_grade" child.id 1 %}">:)</a>
	                                <br>
	                                <a href="{% url "add_grade" child.id 0%}">:(</a>
	                           	</td>
                            </tr>
                            {% endfor %}
                            </table>
                            </p>
                           </p>
                    {% endfor %}

                {% endwith %}
            </div>
        {% endif %}



            {% if user.is_parent %}
            <p style="margin=10px; text-align: center">
            <ul>
                {% for child in user.get_parent_instance.get_all_children %}
                
 	                   <li style="margin:5px"><a href="{% url "show_child_profile" child.id %}">{{ child.get_full_name }}</a></li>
                {% endfor %}
            </ul>
            </p>
            {% endif %}

        {% if user.is_child %}


        <div id="PRESENCE">
             <h1>Presence</h1>
                {% for present in child.get_all_presence %}
                    <p>Present - {{ present.date }}</p>
                {% endfor %}
        </div>

        <div id="GAME_SCORES">
            <h1>Game scores</h1>
                {% for game in child.get_all_games %}
                    <p><a href="{% url "choose_game" game.game.id %}">{{ game }}</a> - {{ game.score }}</p>
                {% endfor %}
        </div>
        <div id="GRADES">
            <h1>Grades</h1>
                {% for grade in child.get_all_grades %}
                    <p>{{ grade }} - {{ grade.date }}</p>
                {% endfor %}
        </div>

    {% endif %}

    </div>
{% endblock %}