{% extends "base.html" %}

{# if you want to url of this template then use {% url show_messages %}  #}

{% block menu %}
    {% include "messages/messages_menu.html" %}
{% endblock %}

{% block content %}
<div id="MESSAGES">

    <div id="FORM">
        <form method="post">
            {% csrf_token %}
{#     CSRF TOKEN IS FOR SECURITY ;) google it if you want to know more but honeslty you dont have to       #}

        {{ form.as_p }}
        <input type="submit" value="Submit">
        </form>
{#  if you want to change somehitng about forms read it or just ask me https://docs.djangoproject.com/en/dev/topics/forms/#displaying-a-form-using-a-template      #}
    </div>

</div>

{% endblock %}