{% extends "base.html" %}

{# if you want url of this template then use {% url show_messages %}  #}

{% block menu %}
{% include "messages/messages_menu.html" %}
{#  we include message menu to keep statment of DRY (Dont repat yourself)  #}
{% endblock %}

{% block content %}
<div id="MESSAGES">

{# We check if any messages exists #}
{% if messages %}

{#  They exists so we iterate list of message to display every message  #}
<table id="messageTab">
<tr id="topMessage"><td id="topSubject">Subject</td>
			<td id="topContent">Content</td>
			<td id="topAuthor">From</td>
			<td id="topDate">Date</td>
		</tr>
    {% for message in messages %}

{#   If message has not been read yet then we add class new to it     #}
<tr id="tabContent">
        <div  id="messageContent" class="message {% if not message.read %}new{% endif %}">
		
           <td id="TabSubject"><div class="subject"> <a href="{% url "show_message" message.id %}"> {{ message.subject }} </a></div></td>
           <td id="TabContent"><div class="date"> {{ message.text|truncatechars:60 }} </div></td>
		   <td id="TabFrom"><div class="date"> {{ message.from_user }} </div></td>
           <td id="TabDate"><div class="text"> {{ message.date }} </div></td>
		
		</div>
</tr>
{# END OF ITERATIONS #}
{#  Check messages/models.py to see what fields of message can be displayed here       #}
    {% endfor %}
 </table>

{% else %}
You do not have any messages
{% endif %}

</div>

{% endblock %}	
	