{% extends "base.html" %}

{# if you want url of this template then use {% url show_messages %}  #}

{% block menu %}
    {% include "messages/messages_menu.html" %}
    {#  we include message menu to keep statment of DRY (Dont repat yourself)  #}
{% endblock %}

{% block content %}
    <div id="MESSAGE">
        <div id="message {% if not message.read %}new{% endif %}">
            <div id="subject"> {{ message.subject }} </div>
			<div id="from">Message from: {{ message.from_user }} </div>
            <div id="date"> {{ message.date }} </div>
            <div id="content"> {{ message.text }} </div>
            
        </div>
    </div>
	<p><a href={% url "show_messages" %}>Back</a></p>
{% endblock %}